/* .workTitle { */
/* 	color: #EF2356; */
/* 	padding: 2px; */
/* 	background-image: -moz-linear-gradient(-45deg, rgba(239,35,86, 0.2) */
/* 		25%, transparent 25%, transparent 50%, rgba(23, 255, 255, 0.2) 50%, */
/* 		rgba(23, 255, 255, 0.2) 75%, transparent 75%, transparent); */
/* } */

ul.titleList {
	list-style: square;
}

ul.issueList {
	list-style: none;
}

ul.titleList li {
	padding:1px;
}
	
.comics a {
	text-decoration:none;
}

.comics a:hover {
	background-color:#D3D3D3;
	text-decoration:underline;
}

.wantedItem {
	text-decoration:bold;
	background-color:#D3D3D3;
}

h1 {
	font-variant:small-caps;
}