<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Die 3 Meta-Tags oben *müssen* zuerst im head stehen; jeglicher sonstiger head-Inhalt muss *nach* diesen Tags kommen -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/favicon.ico" />

<!-- Latest (stable) compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Individual theme -->
<link rel="stylesheet" href="/css/style.css" />

<title>Einzelcomic</title>

<script type="text/javascript">
<!--
	var imageURLs = [ "/images/header1.jpg", "/images/header2.jpg",
			"/images/header3.jpg" ];
	function getImageTag() {
		var img = '<img src=\"';
		var randomIndex = Math.floor(Math.random() * imageURLs.length);
		img += imageURLs[randomIndex];
		img += '\" alt=\"header image\"/>';
		return img;
	}
	-->
</script>

</head>

<body>

	<!-- Menü -->

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Navigation ein-/ausblenden</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Comic Database</a>
			</div>

			<!-- Menüpunkte -->
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="../../../">Start</a></li>
					<li><a href="../../list/">Comics</a></li>
					<li class="active"><a href="../../titles/">Titel</a></li>
					<li><a href="../../addComic/">Neuer Comic</a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<!-- Menü Ende -->


	<!-- Banner -->
	<div class="container-fluid">
		<div class="row">
			<script type="text/javascript">
				document.write(getImageTag());
			</script>
		</div>
	</div>


	<div class="container">

		<!-- Header Titel -->
		<div class="title-header">
			<br />
			<h1 class="main-title"
				th:text="'Detailansicht ' + ${thiscomic.title} + ' #' + ${thiscomic.issue}"></h1>
		</div>

		<div class="row">

			<!-- Main Content -->
			<div class="col-sm-12 werk-main">
				<div class="col-md-3">
					<ul class="titleList">
						<li class="comics" th:each="String  : ${titles}"
							th:switch="${String}"><a th:class="anchor"
							th:href="@{'/comic/'+ ${String}+'/'}" th:case="${URLtitle}">
								<span class="wantedItem" th:text="${String}"></span>
						</a> <a th:class="anchor" th:href="@{'/comic/'+ ${String}+'/'}"
							th:case="*"> <span th:text="${String}"></span></a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<ul class="issueList">
						<li class="comics" th:each="comic  : ${comics}"
							th:switch="${comic.issue}"><a th:class="anchor"
							th:href="@{'/comic/'+ ${comic.title}+'/'+ ${comic.id}+'/'}"
							th:case="${thiscomic.issue}"> <span class="wantedItem"
								th:text="${comic.title} + ' #' + ${comic.issue}"></span></a> <a
							th:class="anchor"
							th:href="@{'/comic/'+ ${comic.title}+'/'+ ${comic.id}+'/'}"
							th:case="*"> <span
								th:text="${comic.title} + ' #' + ${comic.issue}"></span></a></li>
					</ul>
				</div>

				<div class="col-md-6" id="content">
					<table>
						<tr>
							<td colspan="2"><h1
									th:text="${thiscomic.title} + ' #' + ${thiscomic.issue}"></h1></td>
						</tr>
						<tr>
							<td th:inline="text"><b th:text="'Publisher: '"></b>[[${thiscomic.publisher}]]</td>
							<td rowspan="6" style="padding: 10px;">
							
							<!-- Insert Image here -->
							<img th:src="@{${thiscomic.imgurl}}" width="200px" /> 
							
							
							</td>
						
						</tr>
						<tr>
							<td th:inline="text"><b th:text="'Box: '"></b>[[${thiscomic.box}]]</td>
						</tr>
						<tr>
							<td th:inline="text"><b th:text="'Comment: '"></b>[[${thiscomic.comment}]]</td>
						</tr>
						<tr>
							<td>
								<div th:replace="uploadForm :: uploadForm"></div>
							</td>
						</tr>
						<tr>
							<td><a th:class="anchor"
								th:href="@{'/comic/'+ ${thiscomic.title}+'/'+ ${thiscomic.id}+'/deleteComic/'}"
								onclick="return confirm('Are you sure you want to delete this item?');">
									<span
									th:text="${thiscomic.title} + ' #' + ${thiscomic.issue} + ' aus Sammlung löschen.'"></span>
							</a></td>
						</tr>
					</table>

				</div>

			</div>

			<!-- Sidebar Links -->
			<div class="sidebar-left"></div>


		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="blog-footer">
		<p>
			<a href="#">Zurück nach oben</a>
		</p>
	</footer>

	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>
